# CognoDB Cloud
COGNODB_URI=bolt+s://<instance-id>.databases.cognodb.cloud:7687
COGNODB_USER=cognodb
COGNODB_PASSWORD=your_cognodb_password

# Neo4j AuraDB Cloud
AURADB_URI=neo4j+s://<instance-id>.databases.neo4j.io
AURADB_USER=neo4j
AURADB_PASSWORD=your_auradb_password

# Memgraph Cloud
MEMGRAPH_URI=bolt+s://<instance-id>.memgraph.cloud:7687
MEMGRAPH_USER=memgraph
MEMGRAPH_PASSWORD=your_memgraph_password

# SurrealDB Cloud
SURREALDB_URI=https://<instance-id>.surrealdb.cloud
SURREALDB_USER=root
SURREALDB_PASSWORD=your_surrealdb_password
SURREALDB_NS=benchmark
SURREALDB_DB=benchmark

# ArangoDB Cloud (Oasis)
ARANGODB_URI=https://<instance-id>.arangodb.cloud:8529
ARANGODB_USER=root
ARANGODB_PASSWORD=your_arangodb_password
ARANGODB_DATABASE=benchmark

# Resource Limits & Fairness Constraints
MAX_RAM_MB=512
MAX_STORAGE_GB=1.0
TARGET_VCPU=0.25
COGNODB_BURST_VCPU=0.5
